<?xml version="1.0" encoding="utf-8"?>
    <packages>
        <package id="steam" />
        <package id="vscode" />
        <package id="discord" />
        <package id="obs-studio" />
        <package id="GoogleChrome" />
        <package id="OpenShot" />
        <package id="blender" />
        <package id="7zip" />
        <package id="wiztree" />
        <package id="zoom" />
        <package id="vlc" />
        <package id="git" />
        <package id="winrar" />
        <package id="ccleaner" />
        <package id="gimp" />
        <package id="docker-desktop" />
    </packages>
